
@*
    ==================================
    ===========     MAIN VIEW
    ==================================
*@

<div ng-app="app" class="container">
    <div ng-controller="app.controller">
        <button class="btn btn-info" ng-click="openModal();">Open modal</button>
    </div>
</div>

@*    
    ==================================
    ===========     SCRIPTS
    ==================================
*@

@* OFFICIAL LIBRARIES *@
<script src="@Url.Content("~/Scripts/angular/angular.js")"></script>
<script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap.js")"></script>
<script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap-tpls.js")"></script>

@* CUSTOM SCRIPTS *@
<script src="@Url.Content("~/Scripts/angular-app/app.module.js")"></script>
<script src="@Url.Content("~/Scripts/angular-app/app.controller.js")"></script>
<script src="@Url.Content("~/Scripts/angular-app/app.modal.controller.js")"></script>